<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="<%= active_page?("cumulative-flow-diagram") ? "active" : ""  %>"><a href="/cumulative-flow-diagram">Cumulative Flow</a></li>
      <!-- <li class="<%= active_page?("work-in-progress") ? "active" : "" %>"><a href="/work-in-progress">WIP</a></li> -->
      <!-- <li class="<%= active_page?("throughput") ? "active" : "" %>"><a href="/throughput">Throughput</a></li> -->
    </ul>
  </div>
</nav>
